.travel_mainDiv img{
width:100%;
height:300px;
}
.travel_mainDiv hr{
width:100%;
}
.travel_mainDiv h5, travel_mainDiv p{
margin-left:20px;
}
.row:: after{
content:"";
clear:both;
display:table;
}
.travel_mainDiv{
flaot:left;
wodth:33.33%;
padding:5px;
border:1px solid #c7c7c7;
}
#footer{
height:20px;
background-color:white;
} 

.navbar-inverse{position:sticky;
    top:0;
    z-index:99999}

.navbar-header{color: aqua}

#myNavbar{background-color:aquamarine; }

#nav navbar-nav,li{
    font-family: cursive;
    font-size: 20px;
    
}

#nav navbar-nav,li:hover{background-color:black;}

.announcement{background-color: aqua}

#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.t-div
{
    border: 1px solid red;
    float: none;
}

.t-div img
{
    width: 100%;
    
}

.movieh{
    font-size: 20px;
    padding: 6px ;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
        
}

.movieh i {
    float: right
}

.navbar-header{ background-color: aqua;
}

#myNavbar{ background-color: aqua;}

.modal-content{ margin-top: 100px ;
    text-align: center;
}

.img_modal{ display:inline-block;
}

.p_modal{margin-top: 100px;
}


#w{margin-left: 10px;
 width: 300px;}

#ww{
    width: 500px;
    
}

.text-primary{font-size: 30px;}